*.pyc
*.egg-info/
.eggs/
build/
dist*/
/venv*/
/kgs/
/.tox/
/releases*/
/log*
letsencrypt.log
certbot.log

# coverage
.coverage
/htmlcov/

/.vagrant

tags

# editor temporary files
*~
*.sw?
\#*#
.idea
.ropeproject
.vscode

# auth --cert-path --chain-path
/*.pem

.venv

# pytest cache
.cache
.mypy_cache/
.pytest_cache/

# directory used for building docker image
/docker-context/

# directory used for building the RPM
/rpmbuild/

# certbot tests
.certbot_test_workspace
**/assets/pebble*
**/assets/challtestsrv*

etc/

